<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
  <!-- 
    No longer needed since we've not using HTML 5 table but angular material
    <br /> <br />
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search..." />
  <br /> <br /> -->
</p>

<div class="mat-elevation-z8">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
    </ng-container>
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
      <td mat-cell *matCellDef="let element"> {{element.brand.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="features">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Features </th>
      <td mat-cell *matCellDef="let element"> {{element.features}} </td>
    </ng-container>
    <ng-container matColumnDef="costPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost Price </th>
      <td mat-cell *matCellDef="let element"> {{element.costPrice | number}} </td>
    </ng-container>
    <ng-container matColumnDef="sellingPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
      <td mat-cell *matCellDef="let element"> {{element.sellingPrice | number}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/products/', element.id]">Edit</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- 
<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Features</th>
      <th>Cost Price</th>
      <th>Selling Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{p.category.name}}</td>
      <td>{{p.brand.name}}</td>
      <td>{{p.description}}</td>
      <td>{{p.features}}</td>
      <td>{{p.costPrice | number}}</td>
      <td>{{p.sellingPrice | number}}</td>
      <td>{{p.remainingQuantity}}</td>
      <td><a [routerLink]="['/admin/products/', p.id]">Edit</a></td>
    </tr>
  </tbody>
</table> -->